.movie-card {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 6px;
  width: 100%;
  min-height: 134px;
  background-color: #f9f9f9;
}

.movie-card__content {
  box-sizing: border-box;
  padding: 12px;
}

.mevie-card__image {
  width: 220px;
  object-fit: cover;
}

.movie-card__title {
  margin: 0 0 13px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.21;
}

.movie-card__subtitle {
  margin: 0 0 30px 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.21;
  color: #a0a0a0;
}

.icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.icon:hover {
  opacity: 0.6;
}

.movie-card__like {
  background-image: url(../../images/like-icon.svg);
}

.movie-card__liked {
  background-image: url(../../images/liked-icon.svg);
}

.movie-card__delete {
  background-image: url(../../images/delete-icon.svg);
}

.hidden {
  display: none;
}

@media screen and (max-width: 540px) {

  .movie-card {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    width: 100%;
    min-height: 232px;
    background-color: #f9f9f9;
  }

  .mevie-card__image {
    width: 100%;
    object-fit: cover;
    height: 168px;
  }

  .movie-card__content {
    padding: 14px 12px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .movie-card__text-box {
    margin-right: 10px;
  }

  .movie-card__title {
    margin: 0 0 8px 0;
    font-size: 12px;
  }

  .movie-card__subtitle {
    margin: 0;
  }

}
