.movies {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 74px 70px 80px;
}

.movies-list__more-button {
  box-sizing: border-box;
  width: 320px;
  height: 36px;
  background-color: #f9f9f9;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in;
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
}

.movies-list__more-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .movies {
    padding: 74px 30px 80px;
  }
}

@media screen and (max-width: 600px) {
  .movies {
    padding: 74px 10px 80px;
  }
}

@media screen and (max-width: 540px) {
  .movies-list__more-button {
    box-sizing: border-box;
    width: 240px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
  }
}
