.navigation {
  display: flex;
  justify-content: space-between;
  width: 212px;
}

.navigation__link {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.38;
  text-decoration: none;
  color: black;
  transition: 0.2s ease-in;
}

.navigation__link_active {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.38;
  text-decoration: none;
  color: black;
  pointer-events: none;
  cursor: default;
}

.navigation__link:hover {
  font-weight: 500;
}
