.header {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  box-sizing: border-box;
}

.header__container {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 74px;
}

@media screen and (max-width: 768px) {
  .header__container {
    padding: 0 30px;
  }
}

@media screen and (max-width: 600px) {
  .header__container {
    padding: 0 14px;
  }
}
