.header {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  box-sizing: border-box;
}

.header__container {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 74px;
}

.header__link {
  width: 100px;
  height: 32px;
  border-radius: 40px;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 3px 0 11px;
  transition: 0.2s ease-in;
}

.header__link:hover {
opacity: 0.6;
}

.header__link-text {
  color: black;
  font-size: 13px;
  line-height: 0.92;
  font-weight: 500;
  margin: 0;
}

.header__link-icon {
  width: 26px;
  height: 26px;
  background-color: #f9f9f9;
  border-radius: 50%;
  background-image: url(../../images/account-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.header__menu-button {
  display: none;
  height: 44px;
  width: 44px;
  border:none;
  background-color: white;
  background-image: url(../../images/menu-icon.svg);
  transition: 0.2s ease-in;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0;
}

.header__menu-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .header__container {
    padding: 0 30px;
  }

  .header__menu-button {
    display: block;
  }

  .header__link {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header__container {
    padding: 0 14px;
  }

  .header__menu-button {
    width: 40px;
    height: 43px;
  }
}
