.about-project {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 110px 70px;
}

.about-project__title {
  display: block;
  width: 100%;
  min-height: 45px;
  margin: 0 0 70px 0;
  border-bottom: solid 1px black;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: -1px;
}

.about-project__box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 110px;
}

.about-project__stage-tittle {
  font-size: 20px;
  line-height: 1.21;
  margin: 0 0 26px 0;
}

.about-project__stage-text {
  margin: 0;
  font-size: 14px;
  line-height: 1.42;
}

.about-project__timeline-box {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.about-project__back {
  text-align: center;
}

.about-project__timeline-back {
  background-color: black;
  color: white;
  height: 36px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.21;
  padding: 10px 10px;
}

.about-project__front {
  text-align: center;
}

.about-project__timeline-front {
  background-color: #f2f2f2;
  height: 36px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.21;
  padding: 10px 10px;
}

.about-project__timeline-text {
  color: #A0A0A0;
  margin: 14px 0 0 0;
  font-size: 14px;
  line-height: 1.21;
}

@media screen and (max-width: 768px) {
  .about-project {
    padding: 90px 50px;
  }

  .about-project__stage-tittle {
    margin: 0 0 22px 0;
  }

  .about-project__stage-text {
    font-size: 12px;
    line-height: 1.5;
  }

  .about-project__box {
    margin-bottom: 93px;
  }
}

@media screen and (max-width: 600px) {
  .about-project {
    padding: 70px 18px;
  }

  .about-project__title {
    min-height: 40px;
    margin: 0 0 60px 0;
    font-size: 18px;
    line-height: 1.22;
  }

  .about-project__stage-tittle {
    font-size: 18px;
    line-height: 1.22;
    margin: 0 0 16px 0;
  }

  .about-project__box {
    grid-template-columns: 1fr;
    gap: 56px;
    margin-bottom: 60px;
  }


  .about-project__stage-text {
    font-size: 11px;
    line-height: 1.45;
  }

  .about-project__timeline-back {
    font-size: 11px;
    line-height: 1.21;
    padding: 12px 10px;
  }

  .about-project__timeline-front {
    font-size: 11px;
    line-height: 1.21;
    padding: 12px 10px;
  }

  .about-project__timeline-text {
    margin: 10px 0 0 0;
    font-size: 11px;
    line-height: 1.21;
  }

  .about-project__timeline-box {
    grid-template-columns: minmax(100px, 1fr) 4fr;
  }

}
