.register {
  width: 396px;
  min-height: 700px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 70px 0;
}

.register__logo {
  margin-bottom: 40px;
}

.register__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
  margin: 0 0 40px 0;
}

.register__form {
  display: flex;
  flex-direction: column;
}

.register__label {
  font-size: 10px;
  color: #a0a0a0;
  line-height: 1.21;
  font-weight: 400;
  margin: 0 0 5px 0;
}

.register__input {
  border: none;
  border-bottom: solid 1px #e8e8e8;
  margin: 0 0 24px 0;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  box-sizing: border-box;
  padding: 0 0 10px 0;
}

.register__input:focus {
  font-weight: 500;
  outline: 0;
  outline-offset: 0;
  border-bottom-color: black;
}

.register__input:invalid {
  color: #ff4062;
}

.register__input:last-of-type {
  margin: 0 0 5px 0px;
}

.register__error-text {
  color: #ff4062;
  font-size: 10px;
  font-weight: 400px;
  line-height: 1.21;
  min-height: 60px;
  margin: 0 0 70px 0;
}

.register__button {
  height: 45px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in;
  margin-bottom: 16px;
}

.register__button:hover {
  opacity: 0.8;
}

.register__text {
  font-size: 14px;
  text-align: center;
  line-height: 1.21;
  color: #a0a0a0;
  font-weight: 400;
}

.register__link {
  margin-left: 6px;
  color: black;
  text-decoration: none;
  transition: 0.2s ease-in;
}

.register__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .register {
    min-height: 1024px;
    padding: 232px 0;
  }
}

@media screen and (max-width: 600px) {
  .register {
    width: 260px;
    min-height: 780px;
    padding: 56px 0 30px;
  }
  .register__logo {
    display: block;
    margin: 0 auto 50px;
  }

  .register__title {
    text-align: center;
    margin-bottom: 80px;
  }

}
