.footer {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 172px;
  padding: 0 70px;
  font-size: 13px;
  line-height: 1.2;
}

.footer__about {
  width: 100%;
  min-height: 115px;
  box-sizing: border-box;
  padding-bottom: 20px;
  border-bottom: solid 1px #e8e8e8;
  display: flex;
  align-items: flex-end;
}

.footer__about-text {
  margin: 0 auto;
  color: #a0a0a0;
}

.footer__link-area {
  min-height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  box-sizing: border-box;
}

.footer__copyright {
  margin: 0;
  color: black;
}

.footer__link-box {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__link {
  margin: 0 0 0 20px;
  color: black;
  text-decoration: none;
  transition: .2s ease-in;
}

.footer__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {

  .footer {
    padding: 0 30px;
  }


}
@media screen and (max-width: 480px) {

  .footer {
    padding: 0 10px;
    font-size: 12px;
  }

  .footer__link-area {
    min-height: 154px;
    flex-direction: column-reverse;
    padding: 30px 0 10px 0;
  }

  .footer__copyright {
    color: #a0a0a0;
  }

  .footer__link-box {
    flex-direction: column;
    align-items: center;
  }

  .footer__link {
    margin: 0 0 12px 0;
    display: inline-block;
  }


}
